body{
    background-image: url("dark_wood.png");
}


#Header {
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center; 
    background-color: #8e41d5;
      
}
a {
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:link {
    color: white;
}
a:visited {
    color: rgb(255, 251, 0);
}
a:hover {
    color: rgb(196, 191, 196);
}
a:active {
    color: #0000FF;
}


#Header h1{
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC0B;
    outline-style: dotted; 

}
h3{
    color: #FFBC0B;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px; 
}
P{
    font-weight: bold;
    color: white;
    font-family: Arial; 
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
#LeftNav {
    border: solid 8px black;
    width: 400px;
    float: left;
    text-align: center; 
    padding-bottom: 8px;
    margin: 25px; 
    background-color: #8e41d5;  
}

#Content {
    border: solid 8px black;
    width:700px;
    margin-bottom: 40px;
    text-align: center; 
    padding:15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8e41d5;  
}
#Footer {
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #8e41d5;  
}
ul{
    list-style-typle: none;
    padding-left: 0px;
}